<%- include("partials/header"); -%>
<div class="box" style="background-color:white; padding: 20px; border-radius: 10px; padding-top: 1px; margin-top: 10px;">
<h1>Contact</h1>
<h3>For Further Queries <a class="contactMailBtn" href="mailto:csastc19@gmail.com">Contact Department</a></h3>
<div class="contactWrapper">
    <a class="contactButton" href="https://stcchennai.edu.in/wp-content/uploads/2021/07/B-Sc-CS-semester-I-VI.pdf" target="_blank">B.sc Study Semester</a>
    <a class="contactButton" href="https://stcchennai.edu.in/wp-content/uploads/2021/07/B.Sc-CS-SYLLABUS.pdf" target="_blank" download>B.sc Study Syllabus</a>
</div>
<div class="contactWrapper">
<a class="contactButton" href="https://stcchennai.edu.in/wp-content/uploads/2021/07/BCA-Semester-I-VI.pdf" target="_blank">BCA Study Semester</a>
<a class="contactButton" href="https://stcchennai.edu.in/wp-content/uploads/2021/07/BCA-SYLLABUS-.pdf" target="_blank">BCA Study Syllabus</a>
</div>
<div class="contactWrapper">
<a class="contactButton" href="https://stcchennai.edu.in/wp-content/uploads/2021/07/msc-Semestr-I-IV.pdf" target="_blank">M.sc Study Semester</a>
<a class="contactButton" href="https://stcchennai.edu.in/wp-content/uploads/2021/07/msc-syllabus.pdf" target="_blank">M.sc Study Syllabus</a>
</div>

</div>
<%- include("partials/footer"); -%>
