<%- include("partials/header"); -%>
<div class="box" style="background-color:white; padding: 20px; border-radius: 10px; padding-top: 1px; margin-top: 10px; position: relative;">
    <h1 style="font-weight: 600;">Sir Theagaraya College</h1>
    <img src="https://www.targetadmission.com/img/logos/43265-42838.jpg" alt="" 
    style="height: 150px; width:150px;position: absolute; top: 10px; right: 20px;">
    <h2>P.G Department of Computer Science and Applications</h2>
    <h3>M.Sc (Computer Science)</h3>
    <p>The department started M.Sc Computer Science Program in the year 2019. Department of computer science witnesses a major breakthrough with the introduction of M.Sc (Computer Science) with the aim to develop core competence in Computer Science and prepare the students to carry out development work, as well as to take up challenges in research. In order to provide an opportunity to the young and enthusiastic IT professionals to walk the extra mile, which makes a vital difference toward the ongoing IT research and development. A new program M.Sc (Computer Science) has been introduced to train and produce experts in the area of recent trends of Computer Technology.
    </p><p>The teachers, while fulfilling their academic commitments without any prejudice, pursue their research along side; publish research articles in journals, in addition to attending seminars, conferences, etc.</p> 

    <h3>B.Sc (Computer Science)</h3>
    <p>The Department of Computer Science was established in the year 1992 with the objective of affording quality education in the field of Computer Science. The Department has modern facilities for teaching and learning. It offers a wide brigade of research opportunities and programs of study at undergraduate and post graduate level since its establishment. It has been not only offering quality education but also meeting the need of time by imparting the updated and latest practical knowledge regarding the computer science and information technology.
        The department of Computer Science is one of the growing departments, which has witnessed well equipped separate computing labs for undergraduate and post graduate students. The guidance and cooperation of the experienced faculty members is one of the attracting features of the department, which enlivens the students to stretch their wings. So that they can fly higher than their dreams and serve the country. The students graduating from this department get placement in the leading IT industries.</p>

    <h3>BCA</h3>
    <p>The Department of Computer Science was established in the year 1992 with the objective of affording quality education in the field of Computer Science. The Department has modern facilities for teaching and learning. It offers a wide brigade of research opportunities and programs of study at undergraduate and post graduate level since its establishment. It has been not only offering quality education but also meeting the need of time by imparting the updated and latest practical knowledge regarding the computer science and information technology.
        The department of Computer Science is one of the growing departments, which has witnessed well equipped separate computing labs for undergraduate and post graduate students. The guidance and cooperation of the experienced faculty members is one of the attracting features of the department, which enlivens the students to stretch their wings. So that they can fly higher than their dreams and serve the country. The students graduating from this department get placement in the leading IT industries.</p>
        <p>This department functions on the principle of responsibility and team-work with feedback oriented performance and appraisal of the teachers. Nurturing attitude of the management paved way for the faculty members to enhance their academic qualifications and capabilities during the last seven years. More emphasis is given to teaching – learning process.</p>
        <p>The teachers, while fulfilling their academic commitment without any prejudice, pursue research activities alongside; publish research articles in journals, in addition to attending seminars, conferences, etc</p>
    
</div>


<%- include("partials/footer"); -%>
